body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Images/1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    background-color:beige;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.header-title {
    color: black;
    margin: 0;
}

.navigation {
    background-color: #444;
    text-align: center;
    background-color: aqua;
    padding: 0.5rem 0;
}

.backnavigation {
    background-color: #444;
    text-align: left;
    padding: 0.5rem 0;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin: 0 15px;
}

.nav-list li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 40px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    color: black;
    text-decoration: none;
    
}

.section li a {
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
}

.left-pane {
    width: 200px;
    color: black;
    padding: 20px;
}

.disasters-list {
    list-style: none;
    padding: 0;
}

.disasters-list li a {
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

.right-pane {
    flex: 1;
    color: black;
    padding: 20px;
}

#descs-list {
    list-style: none;
    padding: 0;
}

#descs-list li a {
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
